<!DOCTYPE html>
<html ng-app="blocJams">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Bloc Jams Angular</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/landing.css">
        <link rel="stylesheet" type="text/css" href="styles/collection.css">
        <link rel="stylesheet" type="text/css" href="styles/album.css">
        <link rel="stylesheet" type="text/css" href="styles/player_bar.css">
    </head>
    <body>
    
        <nav class="navbar"><!-- navigation bar -->
          <a ui-sref="landing" class="logo">
            <img src="assets/images/bloc_jams_logo.png" alt="bloc jams logo">
          </a>
          <div class="links-container">
            <a ui-sref="collection" class="navbar-link">collection</a>
          </div>
        </nav>
        
        <ui-view></ui-view>
        
        <section class="player-bar" ng-controller="PlayerBarCtrl as playerBar">
     <div class="container">
         <div class="control-group main-controls">
             <a class="previous" ng-click="playerBar.songPlayer.previous()">
                 <span class="ion-skip-backward"></span>
             </a>
             <a class="play-pause">
                 <span class="ion-play"
                       ng-show="!playerBar.songPlayer.currentSong.playing"
                       ng-click="playerBar.songPlayer.play()"></span>
                 <span class="ion-pause"
                       ng-show="playerBar.songPlayer.currentSong.playing"
                       ng-click="playerBar.songPlayer.pause()"></span>
             </a>
             <a class="next" ng-click="playerBar.songPlayer.next()">
                 <span class="ion-skip-forward"></span>
             </a>
         </div>
         <div class="control-group currently-playing">
             <h2 class="song-name">{{playerBar.songPlayer.currentSong.title}}</h2>
             <h2 class="artist-song-mobile" ng-show="playerBar.songPlayer.currentSong">{{playerBar.albumData.artist}} - {{playerBar.songPlayer.currentSong.title}}</h2>
             <h3 class="artist-name" ng-show="playerBar.songPlayer.currentSong">{{playerBar.albumData.artist}}</h3>
             <div class="seek-control">
                 <seek-bar value="{{ playerBar.songPlayer.currentTime }}" max="{{ playerBar.songPlayer.currentSong.duration }}" on-change="playerBar.songPlayer.setCurrentTime(value)"></seek-bar>
                 <div class="current-time">{{ playerBar.songPlayer.currentTime | timecode }}</div>
                 <div class="total-time">{{playerBar.songPlayer.currentSong.duration | timecode}}</div>
             </div>
         </div>
         <div class="control-group volume">
             <span class="icon ion-volume-high"></span>
             <seek-bar value="{{ playerBar.songPlayer.volume }}" max=100 on-change="playerBar.songPlayer.setVolume(value)"></seek-bar>
         </div>
     </div>
 </section>
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/LandingCtrl.js"></script>
        <script src="scripts/controllers/CollectionCtrl.js"></script>
        <script src="scripts/controllers/AlbumCtrl.js"></script>
        <script src="scripts/controllers/PlayerBarCtrl.js"></script>
        <script src="scripts/directives/seekBar.js"></script>
        <script src="scripts/services/Fixtures.js"></script>
        <script src="scripts/services/SongPlayer.js"></script>
        <script src="scripts/filters/timecode.js"></script> 
        
    </body>
</html>